<!DOCTYPE html>
<html lang="en">
<head>
  {{> header }}
  <title>Transactions Created</title>
</head>
<body>
{{> menu }}
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">transactionId</th>
    <th scope="col">price</th>
    <th scope="col">customerName</th>
    <th scope="col">customerEmail</th>
    <th scope="col">createdAt</th>
    <th scope="col">updatedAt</th>
  </tr>
  </thead>
  <tbody>
  {{#each transactionList}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th>{{this.transactionId}}</th>
      <th>{{this.price}}</th>
      <th>{{this.customerName}}</th>
      <th>{{this.customerEmail}}</th>
      <th>{{humanDates this.createdAt}}</th>
      <th>{{humanDates this.updatedAt}}</th>
    </tr>
  {{/each}}
  </tbody>
</table>
</body>
</html>
