<!DOCTYPE html>
<html lang="en">
<head>
  {{> header }}
  <title>Transactions Issues</title>
  <script>
    function deleteTransactionIssues(id) {
      fetch(`/transactions-issues/${id}`, {
        method: 'delete'
      }).then(response => {
        console.log(response.json());
        location.reload(true);
      });
    }
  </script>
</head>
<body>
{{> menu }}
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">transactionId</th>
    <th scope="col">issueObject</th>
    <th scope="col">createdAt</th>
    <th scope="col">updatedAt</th>
    <th scope="col">operation</th>
  </tr>
  </thead>
  <tbody>
  {{#each transactionList}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th>{{this.transactionId}}</th>
      <th>{{this.issueObject.message}}</th>
      <th>{{humanDates this.createdAt}}</th>
      <th>{{humanDates this.updatedAt}}</th>
      <th scope="col">
        <a href="#" class="btn btn-danger" role="button" onclick="deleteTransactionIssues({{{this.id}}})">Del</a>
      </th>
    </tr>
  {{/each}}
  </tbody>
</table>
</body>
</html>
