<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("header") %>
  <title>Products</title>
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">sku</th>
    <th scope="col">width</th>
    <th scope="col">height</th>
    <th scope="col">length</th>
    <th scope="col">dimUnits</th>
    <th scope="col">weight</th>
    <th scope="col">weightUnits</th>
    <th scope="col">createdAt</th>
    <th scope="col">updatedAt</th>
  </tr>
  </thead>
  <tbody>
  <% productsList.forEach(function(productEntity){ %>
    <tr>
      <th scope="row">
        <%= productEntity.id %>
      </th>
      <th><%= productEntity.name %></th>
      <th><%= productEntity.sku %></th>
      <th><%= productEntity.width %></th>
      <th><%= productEntity.height %></th>
      <th><%= productEntity.length %></th>
      <th><%= productEntity.dimUnits %></th>
      <th><%= productEntity.weight %></th>
      <th><%= productEntity.weightUnits %></th>
      <th><%= productEntity.createdAt %></th>
      <th><%= productEntity.updatedAt %></th>
    </tr>
  <% }); %>
  </tbody>
</table>
</body>
</html>
