<!DOCTYPE html>
<html lang="en">
<head>
  {{> header }}
  <title>Edit product</title>
  <script>
    function addNewColorSKU(productId) {
      const colorName = document.getElementById('newColorName').value;
      const colorSKU = document.getElementById('newColorSKU').value;
      const data = {
        colorName,
        colorSKU,
      }
      fetch(`/products/${productId}/colorSKU`, {
        method: 'post',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      }).then(response => {
        console.log(response.json());
        location.reload(true);
      });
    }
    function deleteColorSKU(colorSKUId) {
      fetch(`/products/colorSKU/${colorSKUId}`, {
        method: 'delete'
      }).then(response => {
        console.log(response.json());
        location.reload(true);
      });
    }
  </script>
</head>
<body>
{{> menu }}
<div class="container">
<form method="post" action="/products/{{{product.id}}}">
  <div class="form-group">
    <label for="inputProductName">Product name</label>
    <input type="hidden" name="productId" id="productId" value="{{{product.id}}}">
    <input type="text" class="form-control" id="inputProductName" aria-describedby="productNameHelp"
           placeholder="Product name" required name="name" value="{{product.name}}">
    <small id="productNameHelp" class="form-text text-muted">Please enter product name.</small>
  </div>
  <div class="form-group">
    <label for="inputProductSku">Product sku</label>
    <input type="text" class="form-control" id="inputProductSku" aria-describedby="productSkuHelp"
           placeholder="Product sku" required name="sku" value="{{product.sku}}">
    <small id="productSkuHelp" class="form-text text-muted">Please enter product sku.</small>
  </div>
  <div class="form-group">
    <label for="inputProductWidth">Product width</label>
    <input type="text" class="form-control" id="inputProductWidth" aria-describedby="productWidthHelp"
           placeholder="Product width" name="width" value="{{product.width}}">
    <small id="productWidthHelp" class="form-text text-muted">Please enter product width.</small>
  </div>
  <div class="form-group">
    <label for="inputProductHeight">Product height</label>
    <input type="number" class="form-control" id="inputProductHeight" aria-describedby="productHeightHelp"
           placeholder="Product height" name="height" value="{{product.height}}">
    <small id="productHeightHelp" class="form-text text-muted">Please enter product height.</small>
  </div>
  <div class="form-group">
    <label for="inputProductLength">Product length</label>
    <input type="number" class="form-control" id="inputProductLength" aria-describedby="productLengthHelp"
           placeholder="Product length" name="length" value="{{product.length}}">
    <small id="productLengthHelp" class="form-text text-muted">Please enter product length.</small>
  </div>
  <div class="form-group">
    <label for="selectProductDimUnits">Product dimension units</label>
    <select class="form-control" id="selectProductDimUnits" aria-describedby="productDimUnitsHelp"
            name="dimUnits" value="{{product.dimUnits}}">
      <option>inches</option>
      <option>centimeters</option>
    </select>
    <small id="productDimUnitsHelp" class="form-text text-muted">Please select product dimension units.</small>
  </div>
  <div class="form-group">
    <label for="inputProductWeight">Product weight</label>
    <input type="number" class="form-control" id="inputProductWeight" aria-describedby="productWeightHelp"
           placeholder="Product weight" name="weight" value="{{product.weight}}">
    <small id="productWeightHelp" class="form-text text-muted">Please enter product weight.</small>
  </div>
  <div class="form-group">
    <label for="selectProductWeightUnits">Product weight units</label>
    <select class="form-control" id="selectProductWeightUnits" aria-describedby="productWeightUnitsHelp"
            name="weightUnits" value="{{product.weightUnits}}">
      <option selected="selected">pounds</option>
      <option>ounces</option>
      <option>grams</option>
    </select>
    <small id="productWeightUnitsHelp" class="form-text text-muted">Please select product weight units.</small>
  </div>
  <button type="submit" class="btn btn-primary">Update Product</button>
</form>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Color Name</th>
      <th scope="col">Color SKU</th>
      <th scope="col">#</th>
    </tr>
    {{#each product.colorSKUEntities}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.colorName}}</td>
      <td>{{this.colorSKU}}</td>
      <td>
        <a href="#" class="btn btn-danger" role="button" onclick="deleteColorSKU({{{this.id}}})">Del</a>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td>
        <label for="newColorName">New color name:</label>
        <input type="text" id="newColorName" name="newColorName">
      </td>
      <td>
        <label for="newColorSKU">New color sku:</label>
        <input type="text" id="newColorSKU" name="newColorSKU">
      </td>
      <td>
        <a href="#" class="btn btn-primary" role="button" onclick="addNewColorSKU({{{product.id}}})">Add</a>
      </td>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
